
body {
	background-color:#000000;
  overflow:hidden;
	font-family:Futura;
}

.ferris {
  position:relative;
  margin:auto;
  width:400px;
  height:400px;
  position:relative;
  border-radius:50%;
  border:7px solid #402217;
  zoom:140%;
}

.pivot{
  position:absolute;
  width:20px;
  height:20px;
  background: #000;
  border-radius: 50%;
}

.arm {
  width:200px;
  height:10px;
  background: #000000;
  position:absolute;
  left:10px;
  top:7px;
  opacity: 0.3;
  border: solid grey 1;
}

.pivot{
  position:absolute;
  width:20px;
  height:20px;
  background:#600;
}

.outer {
  top:-200px;
  border-radius:50%;
  background:black;
}

.basket {
  position:relative;
  width:58px;
  height:40px;
  background:url("../img/basket.png");
  left:-30px;
  top:10px;
  border-radius:6px;

}

.hidden {
  display: none;
}

#arm0 {
  background-color: red;;
}

#arm1 {
  background-color: #45FF00;
}

#arm2 {
  background-color: #00FFFF;
}

#arm3 {
  background-color: #fff;
}

#arm4 {
  background-color: blue;
}

#arm5 {
  background-color: #FF007F;
}

#arm6 {
  background-color: #FFFF00;
}

#arm7 {
  background-color: purple;
}

#startButton {
  background-color:rgba(255, 255, 255, 0.3);
  display:inline-block;
  padding:10px;
  border:1px solid #ccc;
  border-radius:10px;
  color:grey;
  cursor:pointer;
  float: right;
  margin-right: 15%;
  font-family: Futura;
}

#playBtn {
  margin-left: 15%;
}

#pauseBtn {
  margin-left:
}

.selectedArm {
  opacity: 1;
}

.navBtn {
  background-color:rgba(255, 255, 255, 0.3);
  display:inline-block;
  padding:10px;
  border:1px solid #ccc;
  border-radius:10px;
  color:grey;
  cursor:pointer;
}





/*Parts of this code was modeled after codepen example:
