
body {
	background-color:#000000;
	margin:20px;
  margin-left: 30%;
  overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;

}



.ferris {
  position:relative;
  margin:auto;
  width:600px;
  height:600px;
  position:relative;
  border-radius:50%;
  border:6px solid #fff;
/*   visibility:hidden; */

}

.pivot{
  position:absolute;
  width:20px;
  height:20px;
  background: magenta;
}



.arm {
  width:300px;
  height:10px;
  background: #000000;
  position:absolute;
  left:10px;
  top:7px;
  opacity: 0.5;
  border: dashed;
}


#arm0 {
  background-color: red;;
}

#arm1 {
  background-color: lime;
}

#arm2 {
  background-color: green;
}

#arm3 {
  background-color: orange;
}

#arm4 {
  background-color: blue;
}

#arm5 {
  background-color: magenta;
}

#arm6 {
  background-color: yellow;
}

#arm7 {
  background-color: purple;
}

.selectedArm {
  opacity: 1;
}

.navBtn {
  margin-top:8px;
  padding:10px;
  background-color:rgba(255, 255, 255, 0.3);
  display:inline-block;
  padding:10px;
  border:1px solid #ccc;
  border-radius:10px;
  color:#655;
  cursor:pointer;
}













/*Parts of this code was modeled after codepen example:
